affine==2.4.0
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
APScheduler==3.10.4
attrs==23.2.0
basemap==1.4.1
basemap-data==1.3.2
basemap-data-hires==1.3.2
bleach==6.1.0
blinker==1.8.2
bokeh==3.4.2
branca==0.7.2
Cartopy==0.23.0
certifi==2024.6.2
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorcet==3.1.0
contourpy==1.2.1
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
earthpy==0.9.4
Flask==3.0.3
folium==0.17.0
fonttools==4.53.1
frozenlist==1.4.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gunicorn==22.0.0
holoviews==1.19.1
idna==3.7
imageio==2.34.2
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
lazy_loader==0.4
linkify-it-py==2.0.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdit-py-plugins==0.4.1
mdurl==0.1.2
multidict==6.0.5
nest-asyncio==1.6.0
netCDF4==1.7.1.post1
networkx==3.3
numpy==1.26.4
packaging==23.2
pandas==2.2.2
panel==1.4.4
param==2.1.1
pillow==10.4.0
plotly==5.23.0
PyJWT==2.8.0
pyogrio==0.9.0
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
pyviz_comms==3.0.2
PyYAML==6.0.1
rasterio==1.3.10
requests==2.32.3
retrying==1.3.4
rioxarray==0.17.0
scikit-image==0.24.0
scipy==1.14.0
shapely==2.0.5
six==1.16.0
snuggs==1.4.7
tenacity==8.5.0
tifffile==2024.7.24
tornado==6.4.1
tqdm==4.66.4
twilio==9.2.3
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
urllib3==2.2.2
webencodings==0.5.1
Werkzeug==3.0.3
xarray==2024.6.0
xyzservices==2024.6.0
yarl==1.9.4
zipp==3.19.2
